%h2.main-title Search
.nav-container
  = search_form_for @q, url: search_buyer_managements_path do |f|
    = f.search_field :buyer_id_eq
    = f.date_field :created_at_gteq
    %span.date-field__text ~
    = f.date_field :created_at_lteq
    = f.submit "SEND"

%h2.main-title Select Resident and Diaper
.nav-container
  = form_with model: @buyer_management, local: true do |f|
    = f.label :name, "Select Buyer"
    = f.collection_select :resident_id, @buyers, :id, :name
    = f.label :name, "Select Product"
    = f.collection_select :product_id, @products, :id, :name
    = f.submit "SEND" 